* {
    font-family: 'Commissioner', sans-serif;
    display: flex-box;
    justify-content: center;
}

body {
    background-image: linear-gradient(to right, blue, rgb(255, 174, 0));
}

h1 {
    color: white;
    display: flex;
    padding: 1em;
    font-size: 3em;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    height: 45em;
    width: 45em;
    background-color: whitesmoke;
}

ul {list-style-type: none;}


/* Month header */
.month {
    padding: 5em 0em;
    width: 100%;
    background: rgb(226, 202, 206);
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

