* {
    font-family: 'Commissioner', sans-serif;
    display: flex-box;
    justify-content: center;
}

body {
    background-image: linear-gradient(to right, blue, rgb(255, 174, 0));
}

h1 {
    color: white;
    display: flex;
    padding: 1em;
    font-size: 3em;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    height: 45em;
    width: 45em;
    background-color: whitesmoke;
}

ul {list-style-type: none;}


/* Month header */
.month {
    padding: 5em 0em;
    width: 100%;
    background: rgb(124, 131, 202);
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month-name {
    color: whitesmoke;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
